<%= form_with model: @post, local: true do |form| %>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%#= form.submit %>
    <%= form.submit 'Create Post', data: { confirm: 'Do you want to create post?' } %>
  </p>
<% end %>